@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Agenda de usuarios</h1>
</div>
<br />
<div class="text-center" redirect="">
    <a asp-controller="Usuario" asp-action="CadastrarUsuario" class="btn btn-success">cadastrar usuario </a>
</div>
<br/>
<div class="text-center">
    <button type="button" class="btn btn-warning">Editar usuario</button>
</div>
<br />
<div class="text-center">
    <button type="button" class="btn btn-danger">Excluir usuario</button>
</div>
<br />
<div class="text-center">
    <button type="button" class="btn btn-primary">Ver dados do usuario</button>
</div>
<br />
<div class="text-center">
    <button type="button" class="btn btn-primary">Ver todos os usuarios</button>
</div>
