@model CRUDDoMVC.Models.UsuarioModel


<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-@Model.Id">
    Excluir usuario
</button>
<div class="modal fade" id="modal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title, text-center" id="exampleModalLabel">Deseja realmente apagar este usuário?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">não</button>
                <form asp-controller="Usuario" asp-action="ExcluirUsuario" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

