@model UsuarioModel;

<div class="text-center">
    <h1 class="display-4">Cadastro de usuario</h1>
</div>
<form asp-action="CadastrarUsuario" asp-controller="Usuario" method="post">     
    <div class="mb-3">
        <label asp-for="NomeUsuario">insira o nome agui</label>
        <input asp-for="NomeUsuario" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="IdadeUsuario" >idade</label>
        <input asp-for="IdadeUsuario" class="form-control" type="number" >
    </div>
    <button type="submit" class="btn-primary">Salvar Usuario</button>
</form>

